#key
service.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de módulos Node
node_modules/

# Diretórios de ambiente
.DS_Store
.env

# Cache
*.cache

# Dependências
package-lock.json
yarn.lock

# Depurações
*.log
*.pid
*.seed
*.pid.lock

# Editor
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Configuração do SASS
.sass-cache/

# Arquivos temporários do sistema operacional
Thumbs.db
.DS_Store

# Configuração do Visual Studio Code
.vscode/
.vscode/*

# Arquivos de compilação
dist/
build/

# Arquivos de chave de serviço
path/to/your-service-account-key.json

# Docker
docker-compose.yml
Dockerfile